.ant-deal-swap-form  .ant-form-item-label {
  width: 100px !important;
}
 .ant-form-item-label > label {
  float: left;
}

 .ant-tabs-tab-active, .ant-menu-item-selected {
  background-color: #e6f7ff;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  text-align: left !important;
}