.avis-settlement-form{
    .ant-form-item {
      margin-right: 9px !important;
    }

}
.k-checkbox:checked {
  border-color: #3f51b5 !important;
  color: #ffffff !important;
  background-color: #3f51b5 !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #3f51b5 !important;
  color: #ffffff !important;
  border-color:  #3f51b5 !important;
}
/*
.ant-form-inline .ant-form-item {
  -ms-flex: none;
  flex: none;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-right: 9px !important;
  margin-bottom: 0;
}
*/