.ant-notation-financiere-echeance-form{

    .ant-form-item-label{
      width: 200px !important;
      text-align: right !important;
    }
  .ant-form-item-label > label {
    float: unset !important;
  }


}